<launch>

  <node pkg="valve_tracker_triton" type="valve_tracker_node" name="valve_tracker" output="screen">
    <param name="closing_element_size" value="12"/>
    <param name="opening_element_size" value="2"/>
    <param name="canny_first_threshold" value="100"/>
    <param name="canny_second_threshold" value="110"/>
    <param name="epipolar_width_threshold" value="3"/>
    <param name="binary_threshold" value="80"/>

    <!-- Load model -->
    <rosparam command="load" file="$(find valve_tracker_triton)/etc/model.yaml" />

    <remap from="stereo" to="stereo_down"/>
    <remap from="image" to="image_rect_color"/>

  </node>


</launch>
